<!DOCTYPE html>
<html>
<head>
    <title>Buy Item 1</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<h1>Item 1</h1>
<p>Description of Item 1</p>
<p>1111</p>
<button id="buy-button">Buy</button>
<script type="text/javascript">
      var stripe = Stripe('pk_test_51KzyrHGbR74uZOiYpDf0vIqTs6KiEgWSl1t0OZbnGMpA63s6M96oGzEgLZ1kpYQnKpC0SrWq2tS0eeMPNHaxEtt900NHrLF0th');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/1', {method: 'GET'})
        .then(response => {return response.json();})
        .then(session => {console.log(session);
        return stripe.redirectToCheckout({sessionId: session.sessionId})})
      });

</script>
</body>
</html>

